<a href="https://colab.research.google.com/github/Priyankakannan96/Priyanka-K/blob/main/Pandas_Assignment_Day_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>Pandas Assignment</center>

Import pandas and numpy with their aliases

In [ ]:
import pandas as pd
import numpy as np

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [ ]:
a= pd.Series([100,200,300,400])

Print a, and data type

In [ ]:
print(a)

0    100
1    200
2    300
3    400
dtype: int64

Using indexing access the element 300 from the series a.

In [ ]:
a= pd.Series([100,200,300,400], index= ['a','b','c','d'])
print(a)

a    100
b    200
c    300
d    400
dtype: int64

What are the values of index for series a?

In [ ]:
print (a ["a"])

100

Change the index to  ['c', 'a', 'b', 'd']

In [ ]:
a= pd.Series([100,200,300,400], index= ['c','a','b','d'])
print(a)

c    100
a    200
b    300
d    400
dtype: int64

Access the value in the series with index 'd'

In [ ]:
print (a ['d'])

400

Sort the values wrt to the index and print it

In [ ]:
a.sort_values()
print(a)

c    100
a    200
b    300
d    400
dtype: int64

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

In [ ]:
# b =
b= pd.Series([800,450,100], index= ['e','f','g'])
print(b)

e    800
f    450
g    100
dtype: int64

Append b series at the end of a series

In [ ]:
# a =
# Create series a and b
a = pd.Series([100, 200, 300, 400])
b = pd.Series([800, 450, 100])

# Append series b to series a
results = a.append(b, ignore_index=True)

# Display the result
print(results)

AttributeError: 'Series' object has no attribute 'append'

In [ ]:
#print a again after appending b into it

import pandas as pd


# Print a after appending b
print(a)

0    100
1    200
2    300
3    400
4    800
5    450
6    100
dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [ ]:
# a =
import pandas as pd
a= pd.Series([100,200,300,400,800,450,100], index=['a','b','c','d','e','f','g'])
sorted_a= a.sort_values(ascending= False)
print(sorted_a)
print(sorted_a.index)

e    800
f    450
d    400
c    300
b    200
a    100
g    100
dtype: int64
Index(['e', 'f', 'd', 'c', 'b', 'a', 'g'], dtype='object')

## Pandas DataFrame

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [ ]:
import pandas as pd
df= pd.DataFrame([100,200,300,400,800,450,100])
print(df)

     0
0  100
1  200
2  300
3  400
4  800
5  450
6  100

What is the shape of the datafarme <br>
(also, what does it imply?)

In [ ]:
df.shape

(7, 1)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a'

In [ ]:
# yep its same as the series.

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [ ]:
import pandas as pd
df= pd.DataFrame([100,200,300,400,800,450,100])
print(df.head())

     0
0  100
1  200
2  300
3  400
4  800

In [ ]:
print(df.tail())

     0
2  300
3  400
4  800
5  450
6  100

Rename the column of the dataframe as 'points'

In [ ]:
import pandas as pd
df= pd.DataFrame([100,200,300,400,800,450,100])
df.columns=['points']
print(df)

   points
0     100
1     200
2     300
3     400
4     800
5     450
6     100

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

In [ ]:
#Create fruits array
# fruits =
import pandas as pd
import numpy as np
fruits_list = ['orange', 'mango', 'apple']
fruits = pd.Series(np.random.choice(fruits_list, size=7))
print(fruits)

0    orange
1    orange
2    orange
3     apple
4     mango
5     mango
6     mango
dtype: object

In [ ]:
#Create series fruits out of fruits array
fruits_list=['orange', 'mango', 'apple']
fruits_array= pd.Series(fruits_list)
print(fruits_array)

0    orange
1     mango
2     apple
dtype: object

Change the index of fruits to the index of dataframe df

In [ ]:
import pandas as pd
df = pd.DataFrame([100,200,300])
fruits_list = ['Apple', 'Banana', 'Cherry']
fruits = pd.Series(fruits_list)
fruits.index = df.index
print("DataFrame:")
print(df)
print("\nUpdated Series:")
print(fruits)

DataFrame:
     0
0  100
1  200
2  300

Updated Series:
0     Apple
1    Banana
2    Cherry
dtype: object

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

In [ ]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame([100, 200, 300])

# List of fruits
fruits_list = ['Apple', 'Banana', 'Cherry']

# Convert the fruits list to a Series
fruits = pd.Series(fruits_list)

# Add the fruits Series as a new column in the DataFrame
df['fruits'] = fruits

# Print the head of the DataFrame
print(df.head())

     0  fruits
0  100   Apple
1  200  Banana
2  300  Cherry

## Pandas Concatenation

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

In [ ]:
# d1 =
d1= pd.DataFrame({'city':['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'],'Temperature':[15, 22, 20, 26,-2]})

Print(d1)

In [ ]:
print(d1)

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

What is the shape of d1.

In [ ]:
d1.shape

(5, 2)

Set city = d1['city']

In [ ]:
city = d1['city']

print city <br>
What is the type of city.

In [ ]:
print(type(city))

<class 'pandas.core.series.Series'>

Create another datafeame 'd2' where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

In [ ]:
# d2 =
d2= pd.DataFrame({'city':['Bengalaru','Coimbatore','Srirangam','Pondicherry'],'Temperature':[24, 35, 36, 39]})

print the shape of this dataframe

In [ ]:
d2.shape

(4, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [ ]:
# d3 =
d3= pd.concat([d1,d2]).reset_index(drop=True)
print(d3)

          city  Temperature
0   Chandigarh           15
1        Delhi           22
2       Kanpur           20
3      Chennai           26
4       Manali           -2
5    Bengalaru           24
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20 <br>
How many cities are there?

In [ ]:
d3
d3[['city','Temperature']]
d3[d3['Temperature']<=20]['city']
d3.loc[d3['Temperature']<=20, 'city'].count()

3

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [ ]:
d3
d3[['city','Temperature']]
d3[d3['Temperature']>=35]['city']
d3.loc[d3['Temperature']>=35, 'city'].count()

3

## Applying functions to columns and creating new columns

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not.
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [ ]:
# write function here

# def is_ut(x):

#     # write code below

# d3['is_ut'] =
d3['is_ut'] =d3['city'].apply(lambda x: x in ['Chandigarh', 'Pondicherry', 'Delhi'])

In [ ]:
# print d3
print(d3)

          city  Temperature  is_ut     ut
0   Chandigarh           15   True   True
1        Delhi           22   True   True
2       Kanpur           20  False  False
3      Chennai           26  False  False
4       Manali           -2  False  False
5    Bengalaru           24  False  False
6   Coimbatore           35  False  False
7    Srirangam           36  False  False
8  Pondicherry           39   True   True

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT -
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [ ]:
# write function here
def c_to_f(celsius):
    # Convert Celsius to Fahrenheit
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

In [ ]:
# check function c_to_f(10)
# Check the function
print(c_to_f(10))

50.0

In [ ]:
#apply function c_to_f to d3 to create a column 'temp_farenhiet'


print(d3.head(10))

0     59.0
1     71.6
2     68.0
3     78.8
4     28.4
5     75.2
6     95.0
7     96.8
8    102.2
Name: Temperature, dtype: float64

## Indexing and selecting rows in DataFrame

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [ ]:
import pandas as pd

# Sample DataFrame (example)
data = {
    'city': ['Delhi', 'Mumbai', 'Chandigarh', 'Puducherry', 'Goa'],
    'status': ['Union Territory', 'Maharashtra', 'Union Territory', 'Union Territory', 'Goa']
}

# Creating DataFrame
d1 = pd.DataFrame(data)

union_territories = d1[d1['status'] == 'Union Territory']

# Display the result
print(union_territories)

         city           status
0       Delhi  Union Territory
2  Chandigarh  Union Territory
3  Puducherry  Union Territory

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [ ]:
import pandas as pd


# Sample DataFrame (example)
data = {
    'city': ['Delhi', 'Mumbai', 'Chandigarh', 'Puducherry', 'Goa'],
    'temperature': [95, 85, 92, 88, 98]  # temperatures in Fahrenheit
}

# Creating DataFrame
d1 = pd.DataFrame(data)

# Filter the DataFrame for cities with temperature above 90°F
hot_cities = d1[d1['temperature'] > 90]

# Display the result
print(hot_cities)

         city  temperature
0       Delhi           95
2  Chandigarh           92
4         Goa           98

Select only the first three rows of the dataframe d1.

In [ ]:
d1= pd.DataFrame({'city':['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'],'Temperature':[15, 22, 20, 26,-2]})
print(d1.head(3))

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20

Select all the rows and last two columns in the dataframe.

In [ ]:
# Select all rows and the last two columns
last_two_columns = d1.iloc[:, -1:]

# Display the result
print(last_two_columns)

   Temperature
0           15
1           22
2           20
3           26
4           -2

## Groupby

In [ ]:
# Create a dataframe using dictionary of your choice

# data =

In [ ]:
# Use Groupby of single column with aggregate sum()

In [ ]:
# Use Groupby of single column with aggregate count()

In [ ]:
# Use Groupby of single column with aggregate min() and max()

In [ ]:
# Use Groupby of any 2 columns with aggregate mean()

In [ ]:
# Use Groupby of any 2 columns with aggregate min() and max()

## Data Range

Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

In [ ]:
# a =
import pandas as pd
a = pd.date_range(start='2020-01-01', end='2021-04-01')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
               '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
               '2021-03-31', '2021-04-01'],
              dtype='datetime64[ns]', length=457, freq='D')

print a

In [ ]:
print(a)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
               '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
               '2021-03-31', '2021-04-01'],
              dtype='datetime64[ns]', length=457, freq='D')

What is the len of a?

In [ ]:
print(len(a))

457

What is the type of a?

In [ ]:
print(type(a))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>