<a href="https://colab.research.google.com/github/Priyankakannan96/Priyanka-K/blob/main/Python_Data_Structure_Assignment_Day_5_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [ ]:
# create empty list, name it 'a'
a = ("apple", "banana", "cherry")

In [ ]:
# print the value of a
print(a)

('apple', 'banana', 'cherry')

In [ ]:
# print the type of a
print(type(a))

<class 'tuple'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [ ]:
a=('R', 'Python', 'SAS', 'Scala', 42)

Print the number of elements in the list

In [ ]:
from typing import Text
print(len(a))

5

Using for loop iterate and print all the elements in the list

In [ ]:
print(a)

('R', 'Python', 'SAS', 'Scala', 42)

Select the second item, 'Python' and store it in a new variable named 'temp'

In [ ]:
temp =a[1]

Print the value of temp and type(temp)

In [ ]:
print(temp)

Python

Append the element 'Java' in the list

In [ ]:
a= ['R', 'Python', 'SAS', 'Scala', 42]
a.append('Java')
print(a)

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [ ]:
a.remove(42)
print(a)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [ ]:
colors= ['Red','Blue','White']
print(colors)

['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [ ]:
colors.append('Black')
print(colors)

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [ ]:
colors= ['Red','Blue','White']
colors.insert(1,'orange')
print(colors)

['Red', 'orange', 'Blue', 'White']

Print the list

In [ ]:
colors= ['Red','orange','Blue','White']
print(colors)

['Red', 'orange', 'Blue', 'White']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [ ]:
colors2= ['Grey','Sky Blue']
print(colors2)

['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [ ]:
colors.extend(colors2)
print(colors)

['Red', 'orange', 'Blue', 'White', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [ ]:
print(len(colors))
print (colors)

6
['Red', 'orange', 'Blue', 'White', 'Grey', 'Sky Blue']

Sort the list and print it.

In [ ]:
colors.sort()
print(colors)

['Blue', 'Grey', 'Red', 'Sky Blue', 'White', 'orange']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [ ]:
sent= 'coronovirus caused lockdowns around the world'
print(sent)

coronovirus caused lockdowns around the world

Use split function to convert the string into a list of words and save it in variable words and print the same

In [ ]:
words=sent.split()
print(words)

['coronovirus', 'caused', 'lockdowns', 'around', 'the', 'world']

Convert each word in the list to lower case and store it in variable words_lower.
Print words_lower

In [ ]:
words_lower=sent.lower()
print(words_lower)

coronovirus caused lockdowns around the world

Check whether ‘country’ is in the list

In [ ]:
words_lower= sent.find('country')
print(words_lower)

-1

Remove the element ‘the’ from the list and print the list.

In [ ]:
sent='coronovirus caused lockdowns around the world'
sent=sent.replace('the','')
print(sent)

coronovirus caused lockdowns around  world

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [ ]:
words_lower=sent.split()
x4=words_lower[0:4]
print(x4)

['coronovirus', 'caused', 'lockdowns', 'around']

In [ ]:
# print x4
print(x4)

['coronovirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [ ]:
joined ="".join (x4)
print(joined)

coronoviruscausedlockdownsaround

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [ ]:
stud_grades= ['A','A','B','C','C','F']
print (stud_grades)

['A', 'A', 'B', 'C', 'C', 'F']

Print the len of stud_grades

In [ ]:
print (len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [ ]:
stud_grades_set = set(stud_grades)
print(stud_grades_set)

{'C', 'A', 'B', 'F'}

Print stud_grades_set.

In [ ]:
print (stud_grades_set)

{'C', 'A', 'B', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [ ]:
stud_grades= ['A','A','B','C','C','F']
stud_grades_set = set(stud_grades)
print(type(stud_grades))
print(type(stud_grades_set))

<class 'list'>
<class 'set'>

Add a new element ‘G’ to stud_grades_set

In [ ]:
stud_grades_set.add('G')
print (stud_grades_set)

{'C', 'B', 'F', 'G', 'A'}

Add element 'F' to stud_grades_set. and print it.

In [ ]:
stud_grades_set.add('F')
print (stud_grades_set)

{'C', 'B', 'F', 'G', 'A'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [ ]:
stud_grades_set.remove('F')
print (stud_grades_set)

{'C', 'B', 'G', 'A'}

Print the elements and the length of stud_grades_set

In [ ]:
print(stud_grades_set)

print(len(stud_grades_set))

{'C', 'B', 'G', 'A'}
4

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [ ]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [ ]:
print(colors, fruits)

['red', 'blue', 'orange'] ['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [ ]:
colors_set=set(colors)
fruits_set=set(fruits)
print(colors_set, fruits_set)

{'orange', 'blue', 'red'} {'apples', 'orange', 'grapes'}

Find the union of both the sets.

In [ ]:
print(colors_set.union(fruits_set))

{'apples', 'grapes', 'orange', 'blue', 'red'}

Find the intersection of both the sets

In [ ]:
print((colors_set.intersection(fruits_set)))

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [ ]:

print(((fruits_set.difference(colors_set))))

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [ ]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [ ]:
temp = [17, 'Virat', 50.0]
tuple(temp)

(17, 'Virat', 50.0)

replace first element with 11 in temp

In [ ]:
temp[0]=11
tuple(temp)

(11, 'Virat', 50.0)

Set temp1 = tuple(temp)

In [ ]:
temp1 =tuple(temp)
tuple(temp1)

(11, 'Virat', 50.0)

Iterate through temp1 and print all the items in temp1.

In [ ]:
tuple(temp1)

(11, 'Virat', 50.0)

replace first element with 17 in temp1

In [ ]:
temp1 = (11, 'Virat', 50.0)
new_temp1 = (17,) + temp1[1:]
tuple(new_temp1)

(17, 'Virat', 50.0)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [ ]:
city = ("Bangalore", 28.9949521, 72)
tuple(city)

('Bangalore', 28.9949521, 72)

Print first element of city

In [ ]:
tuple (city[0])

('B', 'a', 'n', 'g', 'a', 'l', 'o', 'r', 'e')

Create city2 = (‘Chennai’, 30.01, 74)

In [ ]:
city2 = ('Chennai', 30.01, 74)
tuple (city2)

('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [ ]:
cities=(city,city2)
tuple(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print cities

In [ ]:
tuple(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [ ]:
tuple (cities[0])

('Bangalore', 28.9949521, 72)

print the type of cities

In [ ]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [ ]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [ ]:
get()

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (<ipython-input-135-b7c4fd9404a8>, line 1)

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [ ]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}
actor= d['actor']

Print the type of actor

In [ ]:
type (actor)

str

Store the value of d[‘list’] in new variable List.

In [ ]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}
List= d['list']

Print the type of List.

In [ ]:
type (List)

list

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [ ]:
d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [ ]:
d = {"actor": "amir", "animal": "cat"}
d1 = {'singer': 'Krishna', 'album': 'Still here', 'genre': 'hip-hop'}

d.update(d1)  # Merging d1 into d

print d

In [ ]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'singer': 'Krishna', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [ ]:
print(list(d.keys()))

['actor', 'animal', 'singer', 'album', 'genre']

Print all the values in d

In [ ]:
print(list(d.values()))

['amir', 'cat', 'Krishna', 'Still here', 'hip-hop']

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [ ]:
d = {'actor': 'amir', 'animal': 'cat', 'singer': 'Krishna', 'album': 'Still here', 'genre': 'hip-hop'}

# Iterate over the dictionary and print each key-value pair in the desired format
for key, value in d.items():
    print(f"{key} ----> {value}")

actor ----> amir
animal ----> cat
singer ----> Krishna
album ----> Still here
genre ----> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [ ]:
sent = "priyanka"

# Initialize an empty dictionary to store character counts
char_count = {}

# Iterate over each character in the string
for char in sent:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

# Print the character counts
print(char_count)

{'p': 1, 'r': 1, 'i': 1, 'y': 1, 'a': 2, 'n': 1, 'k': 1}